*{
  margin: 0;
  padding: 0;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 400;
}

h2{
font-family: 'Noto Serif', serif;
font-weight: 400;
font-size: 38px;
}

h3{
font-family: 'Noto Serif', serif;
font-weight: 400;
font-size: 38px;

}
h5{
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 24px;
}

a{
  text-decoration: none;
  color: black;
}

p{
  margin-left: 5px;
}

li{
  margin-bottom: 12px;
}

span{
  font-style: italic;
  margin-left: 7px;
}

button{
  width: 150px;
  border: solid black 1px;
  font-size: 18px;
  padding: 7px;
  width: 120px;
  background: black;
  font-family: 'Noto Serif', serif;
  color: #FFF;
}

