header{
  height: 80px;
  position: fixed;
  top: 0;
  width:100%;
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h1{
  font-size: 32px;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.8em;
    -webkit-transform: translateZ(-600px);
            transform: translateZ(-600px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.8em;
    -webkit-transform: translateZ(-600px);
            transform: translateZ(-600px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
