.flower-deck{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-top: 100px;
}

.flower-card{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px;
}

.flower-container{
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #FFF;
}

.flower-container h4{
  color: black;
}
a{
  text-decoration: none;
}

p{
  margin-left: 5px;
}

span{
  font-style: italic;
}